// Color variables
$black: #000;
$white: #fff;
$red: #f44;
$blue: #1989fa;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;
$gray: #c8c9cc;
$gray-light: #e5e5e5;
$gray-darker: #7d7e80;
$gray-dark: #969799;

// Default colors
$primary-color: #00c85d;
$succeed-color: #07c160;
$danger-color: #ef4f4f;

$border-color: #ebedf0;
$active-color: #e8e8e8;
$background-color: #f8f8f8;
$background-color-light: #fafafa;

// Font color
$text-color: #323233;
$text-sub-color: #666;
$text-third-color: #999;

// Font size
$font-little-s: 10px;
$font-little: 12px;
$font-medium-s: 14px;
$font-medium: 16px;
$font-large-s: 18px;
$font-large: 20px;

// Font family
$font-sans-serif: PingFangSC-Light, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, sans-serif;
$font-regular: PingFangSC-Regular, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Arial, sans-serif;
$font-serif: SimSun, "宋体", serif;

// Space width
$space-width: 15px;
$space-width-s: 10px;
$space-width-l: 20px;

// Other
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$border-radius: 3px;
